:root {
  --white: #fff;
  --black: #000;
  --grey: rgb(156 163 175);
  --dark-grey: #242b38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body::-webkit-scrollbar {
  position: absolute;
  width: 10px;
  margin-right: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #2d3748;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

.login {
  color: var(--grey);
}

.pfp {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.username {
  width: auto;
  height: auto;
  font-size: 18px;
  color: var(--grey);
  text-align: center;
}

.search-btn {
  color: var(--grey);
}

.card {
  width: 300px;
  height: 330px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition: transform 0.3s ease;
}

.card img {
  width: inherit;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}

.songs {
  padding: 10px;
  color: var(--grey);
  background-color: #2d3748;
}

.songs:hover {
  cursor: pointer;
  background-color: var(--dark-grey);
}

.togglePlay {
  color: var(--grey);
}

.togglePlay:hover {
  cursor: pointer;
}

.main-content {
  overflow-y: scroll;
  max-height: calc(100vh - 96px); /* Full height minus the .bar height */
}

.main-content::-webkit-scrollbar {
  width: 10px;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #2d3748;
  border-radius: 5px;
}

.main-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.container {
  left: 90px;
}

.track-title,
.track-artist {
  margin-right: auto;
  color: var(--grey);
  width: auto;
}

.track-title {
  font-size: 15px;
}

.track-artist {
  font-size: 12px;
}

.track-img {
  border-radius: 10px;
}

.playlist-container {
  display: none;
}

.playlist-cover {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: 50px;
}

.title {
  font-size: 3em;
  padding: 20px;
}

.group {
  margin-left: 50px;
  margin-right: 50px;
  height: calc(100vh - 96px);
  border-radius: 20px;
  overflow-y: scroll;
}

.group::-webkit-scrollbar {
  display: none;
}

.group::-webkit-scrollbar-thumb {
  background-color: #2d3748;
  border-radius: 5px;
}

.group::-webkit-scrollbar-track {
  background-color: transparent;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: var(--grey);
  text-align: left;
  background-color: #2d3748;
}

.track:hover {
  cursor: pointer;
  background-color: var(--dark-grey);
}

.track-details {
  display: flex;
  flex-direction: column;
}

.duration {
  margin-left: auto;
  text-align: right;
  white-space: nowrap;
}

.first {
  border-radius: 20px 20px 0 0;
}

.playing {
  color: #111827;
}

.bar {
  border-radius: 20px 20px 0 0;
  background-color: var(--dark-grey);
}

.track-container {
  height: 41px;
  min-width: 41px;
}

.progress-container {
  width: 65%;
  margin: 0 auto;
  color: var(--grey);
}

.current-time,
.total-time {
  font-size: 14px;
  color: var(--grey);
}

.progress-bar {
  height: 6px;
  margin: 0 10px;
  background: var(--grey);
  appearance: none;
  cursor: pointer;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--teal-400);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.progress-bar::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--teal-400);
  cursor: pointer;
}

.progress-bar::-webkit-slider-thumb:hover {
  background: var(--white);
}

.progress-bar::-moz-range-thumb:hover {
  background: var(--white);
}